<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Media Platform{% endblock %}</title>
</head>
<body>

    <nav>
        <h2>Social Media Platform</h2>

        {% if user.is_authenticated %}
    <span>Welcome, {{ user.username }}</span>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'profile' user.username %}">My Profile</a>
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
<footer>
    <p>© 2026 Social Media Platform. All rights reserved.</p>
</footer>
</body>
</html>