{% extends 'base.html' %}

{% block title %}{{ profile_user.username }}'s Profile{% endblock %}

{% block content %}

<h1>{{ profile_user.username }}</h1>
{% if user == profile_user %}
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
{% endif %}
<p>
    Followers: {{ followers_count }}
    |
    Following: {{ following_count }}
</p>
{% if user.is_authenticated and user != profile_user %}
    <form method="POST" action="{% url 'follow_user' profile_user.username %}">
        {% csrf_token %}
       {% if is_following %}
    <button type="submit">Unfollow</button>
{% else %}
    <button type="submit">Follow</button>
{% endif %}
    </form>
{% endif %}

{% if profile_user.profile %}
    <p>{{ profile_user.profile.bio }}</p>
{% else %}
    <p>No bio added yet.</p>
{% endif %}

<p>
    Joined: {{ profile_user.date_joined|date:"F d, Y" }}
</p>

{% endblock %}